#### Basesystem
Die Rolle Basesystem konfiguriert das grundlegende System. Es werden folgende Einrichtungen vorgenommen:
* Zugriff auf Betriebssystem-Repositories für Updates
* LLDP für physikalische Server, damit diese an Switches zugeordnet werden können
* VMWare-Tools für virtuelle Server, damit Informationen zwischen VM und Host ausgetauscht werden können
* Konfiguration der Zeitzone
